@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  @apply bg-black text-lg font-light text-white md:text-xl;
}

h1 {
  @apply text-2xl font-bold uppercase md:text-3xl;
}

h2 {
  @apply text-xl font-medium md:text-2xl;
}

.marquee {
  animation: marquee 60s linear infinite;
}

.reverse {
  animation: marquee 60s linear infinite;
  animation-direction: reverse;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
